<a href="https://colab.research.google.com/github/mateusduarte-max/Projetos_Python/blob/main/SLA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
# Importe de Bibliotecas
import pandas as pd

# Bibliotecas Google Golab
from gspread_dataframe import set_with_dataframe
from google.colab import auth
auth.authenticate_user()
# Bibliotecas Google Sheet
import gspread
from oauth2client.client import GoogleCredentials
# Autenticação Final
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [25]:
# Importe de base 
base = pd.read_csv('/content/drive/MyDrive/LuizaResolve/Dados_Colab/base_sla.csv', sep=';', usecols=['Ticket group', 'Ticket ID', 'Breached SLA tickets'])
base.rename(columns={'Breached SLA tickets':'SLA em Atraso'}, inplace = True)
base.head()

  Ticket group  Ticket ID  SLA em Atraso
0          NaN    9349018            0.0
1          NaN    9465354            0.0
2          NaN    9742998            0.0
3          NaN    9949579            0.0
4          NaN    9952847            0.0

In [36]:
responsavel = pd.read_excel('/content/drive/MyDrive/LuizaResolve/Dados_Colab/SLA_10.02.xlsx', usecols=['Grupo de tickets', 'Responsavel'])
responsavel.rename(columns={'Grupo de tickets':'Ticket group'}, inplace = True)
responsavel.head()

                            Ticket group  Responsavel
0                                    NaN          NaN
1  [GIBA] Entrega Atrasada - Marketplace          NaN
2                     Análise de Exceção  Marina Cruz
3               Análise de Refaturamento  Marina Cruz
4        Análise de Refaturamento Filial  Marina Cruz

In [37]:
base_geral = base.merge(responsavel, how='left', on='Ticket group')
base_geral.tail()

         Ticket group  Ticket ID  SLA em Atraso      Responsavel
106057  Área de Risco   25117845            0.0  Rafael Orlando
106058  Área de Risco   25120026            0.0  Rafael Orlando
106059  Área de Risco   25121049            0.0  Rafael Orlando
106060  Área de Risco   25121084            0.0  Rafael Orlando
106061          Áreas   24525978            1.0              NaN

In [38]:
base_filtrada = base_geral[base_geral['SLA em Atraso'] >= 1.0]
base_filtrada.tail()

         Ticket group  Ticket ID  SLA em Atraso      Responsavel
105968  Área de Risco   24926710            1.0  Rafael Orlando
105970  Área de Risco   24929104            1.0  Rafael Orlando
105971  Área de Risco   24938600            1.0  Rafael Orlando
105980  Área de Risco   25003869            1.0  Rafael Orlando
106061          Áreas   24525978            1.0              NaN

In [49]:
# Abrir planilha e primeira aba
pagina = gc.open('Base_Sla_DataStudio').sheet1
# Limpar a aba
pagina.clear()
# Importar dataframe na planilha
set_with_dataframe(pagina, base_filtrada)