In [ ]:
import pandas as pd
# Importar biblioteca biqquery
from google.cloud import bigquery

# Bibliotecas Google Sheet
from google.colab import auth
auth.authenticate_user()
import gspread
from google.auth import default
creds, _ = default()
gc = gspread.authorize(creds)
from gspread_dataframe import set_with_dataframe

# Montar Drive
from google.colab import drive
drive.mount('/content/drive')

# Classe dados 
!cp /content/drive/MyDrive/Colab_Notebooks/pacotes_modulos/modulos_colab.py /content
from modulos_colab import dados
# Chaves e tokens
!cp /content/drive/MyDrive/Colab_Notebooks/Autenticacoes/chaves_tokens.py /content
%run chaves_tokens.py

Mounted at /content/drive

# Relatório Repasse

In [ ]:
rel_repasse_1 = pd.read_excel('/content/repasse-adidas-2023-05-20-2023-05-26.xlsx')
#rel_repasse_2 = pd.read_excel('/content/repasse-adidas-14032023-2.xlsx')
rel_repasse_total = pd.concat([rel_repasse_1])
rel_repasse_total['% Serviços de Marketplace'] = round((rel_repasse_total['% Serviços de Marketplace']/100),3)


rel_repasse_estorno = rel_repasse_total.query("`Método de pagamento`=='Estorno'")



din_rel_repasse_estorno = pd.DataFrame(pd.pivot_table(rel_repasse_estorno, index='ID do pedido Seller', values='Valor líquido da parcela', aggfunc='sum'))
din_rel_repasse_estorno.reset_index(inplace=True)
din_rel_repasse_estorno.rename(columns={'Valor líquido da parcela':'Estorno todas parcelas'}, inplace=True)


repasse_final = pd.merge(rel_repasse_total, din_rel_repasse_estorno, how='left', on='ID do pedido Seller')


def calculo_ajuste_todas_parcelas(repasse_final):
    if repasse_final['Método de pagamento'] == 'Estorno':
        return repasse_final['Estorno todas parcelas']
    else:
        return 0.00
repasse_final['Estorno todas parcelas'] = repasse_final.apply(calculo_ajuste_todas_parcelas, axis=1)



def calculo_produto(repasse_final):
    if repasse_final['Método de pagamento'] == 'Estorno':
        return round((repasse_final['Estorno todas parcelas']*(repasse_final['% Serviços de Marketplace']-0.065))+(repasse_final['Estorno todas parcelas']),2)
    else:
        return 0.00
repasse_final['Custo do produto'] = repasse_final.apply(calculo_produto, axis=1)




def calculo_mdr(repasse_final):
    if repasse_final['Método de pagamento'] == 'Estorno':
        return round((repasse_final['Custo do produto']*0.065),2)
    else:
        return 0.00
repasse_final['MDR do produto'] = repasse_final.apply(calculo_mdr, axis=1)




def calculo_comissao(repasse_final):
    if repasse_final['Método de pagamento'] == 'Estorno':
        return round((repasse_final['Custo do produto']*repasse_final['% Serviços de Marketplace']),2)
    else:
        return 0.00
repasse_final['Custo de comissão (produto)'] = repasse_final.apply(calculo_comissao, axis=1)



def calculo_liq_produto(repasse_final):
    if repasse_final['Método de pagamento'] == 'Estorno':
        return round((repasse_final['Custo do produto']-repasse_final['Custo de comissão (produto)']-repasse_final['Valor fixo por pedido']),2)
    else:
        return 0.00
repasse_final['Valor líquido do produto'] = repasse_final.apply(calculo_liq_produto, axis=1)



def calculo_liq_produto_mdr(repasse_final):
    if repasse_final['Método de pagamento'] == 'Estorno':
        return round((repasse_final['Valor líquido do produto']+repasse_final['MDR do produto']),2)
    else:
        return 0.00
repasse_final['Valor líquido do produto + MDR'] = repasse_final.apply(calculo_liq_produto_mdr, axis=1)



def calculo_parcela(repasse_final):
    if repasse_final['Método de pagamento'] == 'Estorno' and ((repasse_final['Valor líquido da parcela']) > (repasse_final['Valor líquido do produto + MDR']*0.9)):
        return round((repasse_final['Valor líquido do produto + MDR']),2)
    elif repasse_final['Método de pagamento'] == 'Estorno' and ((repasse_final['Valor líquido da parcela']) < (repasse_final['Valor líquido do produto + MDR']*0.9)):
        return round((repasse_final['Valor líquido do produto + MDR']/repasse_final['Total de parcelas']),2)
    else:
        return 0.00
repasse_final['Valor estornado por parcela'] = repasse_final.apply(calculo_parcela, axis=1)

repasse_final.reset_index(inplace=True)

repasse_final.to_csv("/content/drive/MyDrive/dados_repasse/relatorio_repasse_26052023.csv", encoding='cp1252')

#dados.grava_tabela_drive('conferencia_repasse', 'Página1', repasse_final)

print("Tabela Atualizada!")

Tabela Atualizada!

In [ ]:
repasse_final.head()

,index,Unnamed: 0,Data da transação,Data do pedido,ID do pedido Magazine Luiza,ID do pedido Seller,ID da transação,Número da nota fiscal,Nome do cliente,Método de pagamento,...,Taxa de transferência,Valor fixo por pedido parcelada,Valor fixo por pedido,Estorno todas parcelas,Custo do produto,MDR do produto,Custo de comissão (produto),Valor líquido do produto,Valor líquido do produto + MDR,Valor estornado por parcela
0,0,0,23/05/2023 21:00,21/05/2023 14:20,1.238370e+15,LU-1238370427272449,52c9218b-03c7-462c-bb2a-64d98c0ccedc,NaN,Eloir rogerio carvalho,pix,...,NaN,3.0,3.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00
1,1,1,23/05/2023 21:00,21/05/2023 14:20,1.238370e+15,LU-1238370427272449,52c9218b-03c7-462c-bb2a-64d98c0ccedc,NaN,Eloir rogerio carvalho,Estorno,...,NaN,-3.0,3.0,-89.49,-96.2,-6.25,-13.47,-85.73,-91.98,-91.98
2,2,2,23/05/2023 21:00,19/05/2023 05:40,1.237770e+15,LU-1237770426899840,1b614174-9728-445b-a40f-bdc58f4b2f0e,NaN,Eduardo Heller Salgado,pix,...,NaN,3.0,3.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00
3,3,3,23/05/2023 21:00,17/05/2023 21:56,1.237370e+15,LU-1237370426663166,3a9df9ae-55bb-4de6-8a77-aee5bdaa54a1,NaN,YANN DIEGGO SOUZA TIMOTHEO DE ALMEIDA,pix,...,NaN,3.0,3.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00
4,4,4,23/05/2023 21:00,16/05/2023 23:46,1.237170e+15,LU-1237170426463439,ad39775d-241e-4122-a145-8e1ffc61649d,NaN,danielle bianca soares,Cartão de Crédito,...,NaN,3.0,3.0,0.00,0.0,0.00,0.00,0.00,0.00,0.00

In [ ]:
repasse_final_copy = repasse_final.copy()
repasse_final_copy['Valor líquido do produto + MDR 90%'] = (repasse_final['Valor líquido do produto + MDR']*0.9)
repasse_final_copy.query("`ID do pedido Seller`=='LU-1201270398399706'").head()