<a href="https://colab.research.google.com/github/mateusduarte-max/Projetos_Python/blob/main/Chamados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
from google.colab import files
import pandas as pd
import io
import datetime as dt

In [13]:
# Variavel para abrir base
abertos = files.upload()
fechados = files.upload()
# Função para importar base
def base_abertos():
    base = pd.read_excel(io.BytesIO(abertos['SAF_GERAL_ABERTOS.XLS']), usecols=['Nº CHAMADO', 'FILIAL', 'DATA ABERTURA', 'DATA FECHAMENTO', 'DATA ROTEAMENTO'])
    abertos_1 = base.rename(columns={'Nº CHAMADO':'CHAMADO','DATA ABERTURA':'ABERTURA', 'DATA FECHAMENTO':'FECHAMENTO','DATA ROTEAMENTO':'DATA_ROTEAMENTO'})
    return abertos_1

def base_fechados():
    fechados_1 = pd.read_excel(io.BytesIO(fechados['SAF_GERAL_FECHADOS.XLS']), usecols=['CHAMADO', 'FILIAL', 'ABERTURA', 'FECHAMENTO', 'DATA_ROTEAMENTO'])
    return fechados_1

  
# Instanciar função
b_abertos = base_abertos()
b_fechados = base_fechados()

Saving SAF_GERAL_ABERTOS.XLS to SAF_GERAL_ABERTOS (8).XLS

Saving SAF_GERAL_FECHADOS.XLS to SAF_GERAL_FECHADOS.XLS

In [15]:
# Concatenar as bases
bases = pd.concat([b_abertos, b_fechados])

bases['ABERTURA'] = pd.to_datetime(bases['ABERTURA'])
bases['FECHAMENTO'] = pd.to_datetime(bases['FECHAMENTO'])
bases['DATA_ROTEAMENTO'] = pd.to_datetime(bases['DATA_ROTEAMENTO'])

# Formatar coluna para Data abreviada
bases['ABERTURA'] = bases['ABERTURA'].dt.strftime('%Y-%m-%d')
bases['FECHAMENTO'] = bases['FECHAMENTO'].dt.strftime('%Y-%m-%d')
bases['DATA_ROTEAMENTO'] = bases['DATA_ROTEAMENTO'].dt.strftime('%Y-%m-%d')

# Remover duplicados
bases_2 = bases.drop_duplicates()

# Visualização
bases_2.head()

     CHAMADO                         FILIAL  ... FECHAMENTO DATA_ROTEAMENTO
0  TML692828    0806 - CA806-CRUZ DAS ALMAS  ...        NaN      2021-02-01
1  TML692847     1051 - QR1051-QUIRINOPOLIS  ...        NaN      2021-02-01
2  TML692848  1234 - IM1234-ITAPECURU MIRIM  ...        NaN      2021-02-01
3  TML692864  1515 - MO1515-MIRASSOL DOESTE  ...        NaN      2021-02-01
4  TML692890     1129 - RD1129-RONDONOPOLIS  ...        NaN      2021-02-01

[5 rows x 5 columns]

In [16]:
# Chamados recebidos
recebidos = pd.pivot_table(bases_2, 
                           index=['ABERTURA'], 
                           values=["CHAMADO"], 
                           aggfunc='count')

# Visualização últimas linhas
recebidos.tail(20)

            CHAMADO
ABERTURA
2021-01-26       10
2021-01-27      101
2021-01-28      167
2021-01-29      332
2021-01-30       85
2021-01-31       10
2021-02-01      626
2021-02-02      554
2021-02-03      498

In [17]:
# Chamados roteamento

recebidos = pd.pivot_table(bases_2, 
                           index=['DATA_ROTEAMENTO'], 
                           values=["CHAMADO"], 
                           aggfunc='count')

# Visualização últimas linhas
recebidos.tail(18)

                 CHAMADO
DATA_ROTEAMENTO
2021-01-26             7
2021-01-27           102
2021-01-28           151
2021-01-29           107
2021-01-30           244
2021-02-01           315
2021-02-02           498
2021-02-03           710
2021-02-04           211

In [18]:
# chamados fechamento
recebidos = pd.pivot_table(bases_2, 
                           index=['FECHAMENTO'], 
                           values=["CHAMADO"], 
                           aggfunc='count')

# Visualização últimas linhas
recebidos.tail(18)

            CHAMADO
FECHAMENTO
1979-12-31        2
1980-01-01        7
2021-02-01      396
2021-02-02      628
2021-02-03      673